interactions:
- request:
    body: '{"query":"publication-date >= 20260501","fields":["notice-identifier","publication-date","title-proc","buyer-name","organisation-country-buyer","classification-cpv"],"page":1,"limit":3,"scope":"ACTIVE","paginationMode":"PAGE_NUMBER","onlyLatestVersions":false,"checkQuerySyntax":false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ted.europa.eu/v3/notices/search
  response:
    body:
      string: "{\"notices\":[{\"notice-identifier\":\"daec2c64-4e45-4e9f-81b7-2a1510f39c54\",\"title-proc\":{\"ron\":\"Prestare
        servicii de mentenan\u021B\u0103 aparatur\u0103 medical\u0103, de stomatologie
        \u0219i laborator\"},\"classification-cpv\":[\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\",\"50421000\"],\"publication-number\":\"300132-2026\",\"organisation-country-buyer\":[\"ROU\",\"ROU\"],\"publication-date\":\"2026-05-04+02:00\",\"buyer-name\":{\"ron\":[\"UM
        0929 Bucuresti\",\"UM 0502 BUCURESTI\"]},\"links\":{\"xml\":{\"MUL\":\"https://ted.europa.eu/en/notice/300132-2026/xml\"},\"pdf\":{\"BUL\":\"https://ted.europa.eu/bg/notice/300132-2026/pdf\",\"SPA\":\"https://ted.europa.eu/es/notice/300132-2026/pdf\",\"CES\":\"https://ted.europa.eu/cs/notice/300132-2026/pdf\",\"DAN\":\"https://ted.europa.eu/da/notice/300132-2026/pdf\",\"DEU\":\"https://ted.europa.eu/de/notice/300132-2026/pdf\",\"EST\":\"https://ted.europa.eu/et/notice/300132-2026/pdf\",\"ELL\":\"https://ted.europa.eu/el/notice/300132-2026/pdf\",\"ENG\":\"https://ted.europa.eu/en/notice/300132-2026/pdf\",\"FRA\":\"https://ted.europa.eu/fr/notice/300132-2026/pdf\",\"GLE\":\"https://ted.europa.eu/ga/notice/300132-2026/pdf\",\"HRV\":\"https://ted.europa.eu/hr/notice/300132-2026/pdf\",\"ITA\":\"https://ted.europa.eu/it/notice/300132-2026/pdf\",\"LAV\":\"https://ted.europa.eu/lv/notice/300132-2026/pdf\",\"LIT\":\"https://ted.europa.eu/lt/notice/300132-2026/pdf\",\"HUN\":\"https://ted.europa.eu/hu/notice/300132-2026/pdf\",\"MLT\":\"https://ted.europa.eu/mt/notice/300132-2026/pdf\",\"NLD\":\"https://ted.europa.eu/nl/notice/300132-2026/pdf\",\"POL\":\"https://ted.europa.eu/pl/notice/300132-2026/pdf\",\"POR\":\"https://ted.europa.eu/pt/notice/300132-2026/pdf\",\"RON\":\"https://ted.europa.eu/ro/notice/300132-2026/pdf\",\"SLK\":\"https://ted.europa.eu/sk/notice/300132-2026/pdf\",\"SLV\":\"https://ted.europa.eu/sl/notice/300132-2026/pdf\",\"FIN\":\"https://ted.europa.eu/fi/notice/300132-2026/pdf\",\"SWE\":\"https://ted.europa.eu/sv/notice/300132-2026/pdf\"},\"pdfs\":{\"RON\":\"https://ted.europa.eu/ro/notice/300132-2026/pdfs\"},\"html\":{\"BUL\":\"https://ted.europa.eu/bg/notice/-/detail/300132-2026\",\"SPA\":\"https://ted.europa.eu/es/notice/-/detail/300132-2026\",\"CES\":\"https://ted.europa.eu/cs/notice/-/detail/300132-2026\",\"DAN\":\"https://ted.europa.eu/da/notice/-/detail/300132-2026\",\"DEU\":\"https://ted.europa.eu/de/notice/-/detail/300132-2026\",\"EST\":\"https://ted.europa.eu/et/notice/-/detail/300132-2026\",\"ELL\":\"https://ted.europa.eu/el/notice/-/detail/300132-2026\",\"ENG\":\"https://ted.europa.eu/en/notice/-/[...]
