interactions:
- request:
    body: '{"query":"publication-date >= today(-7day)","fields":["notice-identifier","publication-date","title-proc","buyer-name","organisation-country-buyer","classification-cpv"],"page":1,"limit":1,"scope":"ALL","paginationMode":"PAGE_NUMBER","onlyLatestVersions":false,"checkQuerySyntax":false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ted.europa.eu/v3/notices/search
  response:
    body:
      string: '{"message":"Syntax error in expert query at line 1, col 31: extraneous
        input '')'' expecting {<EOF>, SORT}","error":{"type":"QUERY_SYNTAX_ERROR","location":{"beginColumn":31,"beginLine":1,"endColumn":32,"endLine":1}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
